
@use 'resets';
@use '_auth';
@use '_setting';




body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}




 

 

// onboard
.onboard_img{
    width: 392px;
    height: 393px ;}


.onboard_heading{
margin-top: 0.5em;
margin-bottom: 0.5em;
}

    
.swap{
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-bottom: 10px;
   margin-top: 0.5em;

   .dot{
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;}

     .first_dot{
        background-color: #3A5F0B;
        width: 35px;
    }
}

    .onboard_button {
        display: flex;
        justify-content: space-evenly;
     
    
     
    .skip_button{
        font-size: 16px;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 20px;
        border: 2px solid transparent;
        cursor: pointer;
    }
    .continue_button {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid transparent;
        cursor: pointer;
    }
     
    .skip_button {
        color: #3A5F0B;
        border-color: #3A5F0B;
        background-color: #fff;
    }
     
    .continue_button {
        color: #fff;
        background-color: #3A5F0B;
    }

   }

   //....home....

   .home-heading {
    display: flex;
    gap: 1em;
    align-items: center;
    place-self: center;
    margin-bottom: 1em;
    margin-top: 1em;
  
    &__logo {
      max-width: 19px;
    }
  
    &__newsify {
      font-weight: 900;
      font-size: 24px;
      
    }
  }
  
  .search-container {
    width: 345px;
    margin: 0 auto;
  }
  
  .search-bar {
    width: 345px;
    height: 46px;
    border: none;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
    padding-left: 1em;
  }
  
  .section-heading {
    display: flex;
    gap: 1em;
    align-items: center;
  
    &__text {
      font-size: 16px;
      font-weight: 900;
    }
  
    &__logo {
      width: 18px;
      height: 26px;
    }
  }
  
  .section-heading-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
    gap: 2em;
  
  
  .footer-img {
    width: 26px;
    margin-bottom: 1em;
  }

  
}

dropdown-content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  display: none;
}
 
.news-article {
  margin-bottom: 10px;
  display: flex;
  gap:1em;
 
  h3 {
   font-size: 16;
   font-weight: 700;
    margin: 0;
  }
 
 img {
    width: 72px;
    height: 72px;
 }
 
  p {
    font-size:14px;
    margin: 5px 0;
  }
}
 
 
.open {
  .arrow {
    transform: rotate(180deg);
  }
 
  .dropdown-content {
    //max-height: 500px;
    display: unset;
  }
 
}



  

